html
  include head.pug
  body
  #upperheader
    ul
      li: =user
      li: a#logout(href='/logout') Logout
  #options
    form(action='/createPoll',method='post', enctype='multipart/form-data')
      h1 Make a new Poll!
      label(for='title') Title
      input(
        type='text',
        name='title',
        id='title'
      )
      br
      label(for='options') Options: (Separated by semicolon)
      input(
        type='text',
        name='options',
        id='options'
      )
      br
      input(
        type='submit',
        name='submit'
      )
