html
  include head.pug
  body
  #upperheader
    ul(class="upperbuttons")
      li: a(href="/dashboard") #{user}
      li: a#logout(href='/logout') Logout
  div(class="form")
    form(action='/createPoll',method='post', enctype='multipart/form-data')
      h1 Make a new Poll!
      br
      label(for='title') Title:
      input(
        type='text',
        name='title',
        id='title',
        placeholder='Please do not include special characters (including ? and !)'
      )
      br
      label(for='options') Options: (Separated by semicolon)
      br
      input(
        type='text',
        name='options',
        id='options'
      )
      br
      input(
        type='submit',
        name='submit'
      )
